# Chargements des données

In [1]:
!pip install awscli

Requirement already satisfied: awscli in /usr/local/lib/python3.10/dist-packages (1.29.0)
Requirement already satisfied: botocore==1.31.0 in /usr/local/lib/python3.10/dist-packages (from awscli) (1.31.0)
Requirement already satisfied: docutils<0.17,>=0.10 in /usr/local/lib/python3.10/dist-packages (from awscli) (0.16)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from awscli) (0.6.1)
Requirement already satisfied: PyYAML<5.5,>=3.10 in /usr/local/lib/python3.10/dist-packages (from awscli) (5.4.1)
Requirement already satisfied: colorama<0.4.5,>=0.2.5 in /usr/local/lib/python3.10/dist-packages (from awscli) (0.4.4)
Requirement already satisfied: rsa<4.8,>=3.1.2 in /usr/local/lib/python3.10/dist-packages (from awscli) (4.7.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from botocore==1.31.0->awscli) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore==1.31.0->awscli) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore==1.31.0->awscli) (1.26.16)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.10/dist-packages (from rsa<4.8,>=3.1.2->awscli) (0.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore==1.31.0->awscli) (1.16.0)

In [2]:
!pip install s3fs
!pip install boto3

Requirement already satisfied: s3fs in /usr/local/lib/python3.10/dist-packages (2023.6.0)
Requirement already satisfied: aiobotocore~=2.5.0 in /usr/local/lib/python3.10/dist-packages (from s3fs) (2.5.2)
Requirement already satisfied: fsspec==2023.6.0 in /usr/local/lib/python3.10/dist-packages (from s3fs) (2023.6.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.10/dist-packages (from s3fs) (3.8.4)
Collecting botocore<1.29.162,>=1.29.161 (from aiobotocore~=2.5.0->s3fs)
  Using cached botocore-1.29.161-py3-none-any.whl (10.9 MB)
Requirement already satisfied: wrapt<2.0.0,>=1.10.10 in /usr/local/lib/python3.10/dist-packages (from aiobotocore~=2.5.0->s3fs) (1.14.1)
Requirement already satisfied: aioitertools<1.0.0,>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from aiobotocore~=2.5.0->s3fs) (0.11.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (2.0.12)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.3.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.29.162,>=1.29.161->aiobotocore~=2.5.0->s3fs) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.29.162,>=1.29.161->aiobotocore~=2.5.0->s3fs) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.29.162,>=1.29.161->aiobotocore~=2.5.0->s3fs) (1.26.16)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.10/dist-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.29.162,>=1.29.161->aiobotocore~=2.5.0->s3fs) (1.16.0)
Installing collected packages: botocore
  Attempting uninstall: botocore
    Found existing installation: botocore 1.31.0
    Uninstalling botocore-1.31.0:
      Successfully uninstalled botocore-1.31.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
awscli 1.29.0 requires botocore==1.31.0, but you have botocore 1.29.161 which is incompatible.
boto3 1.28.0 requires botocore<1.32.0,>=1.31.0, but you have botocore 1.29.161 which is incompatible.
Successfully installed botocore-1.29.161
Requirement already satisfied: boto3 in /usr/local/lib/python3.10/dist-packages (1.28.0)
Collecting botocore<1.32.0,>=1.31.0 (from boto3)
  Using cached botocore-1.31.0-py3-none-any.whl (11.0 MB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from boto3) (0.6.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.32.0,>=1.31.0->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.32.0,>=1.31.0->boto3) (1.26.16)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.0->boto3) (1.16.0)
Installing collected packages: botocore
  Attempting uninstall: botocore
    Found existing installation: botocore 1.29.161
    Uninstalling botocore-1.29.161:
      Successfully uninstalled botocore-1.29.161
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aiobotocore 2.5.2 requires botocore<1.29.162,>=1.29.161, but you have botocore 1.31.0 which is incompatible.
Successfully installed botocore-1.31.0

In [3]:
!aws configure

AWS Access Key ID [****************VQGH]: AKIATVQWKESMN6VTVQGH
AWS Secret Access Key [****************3BpK]: 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
Default region name [us-east-1]: us-east-1
Default output format [json]: json

In [4]:
import boto3
client = boto3.client('s3')

In [5]:
import pandas as pd
import numpy as np

In [31]:
path ='s3://datalakemspr/'
demographie = pd.read_csv(path+'demographie.csv',sep=';',skiprows=2)
education = pd.read_csv(path+'education.csv', sep=';',skiprows=2)
immobilier = pd.read_csv(path+'immobilier.csv',sep=';',skiprows=2)
entreprise = pd.read_csv(path+'entreprise.csv',sep=';',skiprows=2)
travail = pd.read_csv(path+'travail.csv',sep=';',skiprows=2)
equipement = pd.read_csv(path+'equipements.csv',sep=';',skiprows=2, low_memory=False)

In [34]:
equipement

,Code,Libellé,Hypermarché - Supermarché 2018,Pôle emploi 2018,Banques 2018,Point de contact postal 2018,Supérette - Épicerie 2018,Boulangerie 2018,Boucherie charcuterie 2018,École maternelle 2018,...,Collège 2018,Service d'urgences 2018,Lycée 2018,Chirurgien dentiste 2018,Médecin généraliste 2018,Infirmier 2018,Crèche 2018,Masseur kinésithérapeute 2018,Pharmacie 2018,Hébergement des personnes âgées 2018
0,01001,L'Abergement-Clémenciat,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,01002,L'Abergement-de-Varey,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,01004,Ambérieu-en-Bugey,6,1,13,2,7,9,9,3,...,2,1,2,12,27,20,2,25,6,2
3,01005,Ambérieux-en-Dombes,0,0,1,1,1,1,0,0,...,0,0,0,0,2,3,0,1,1,0
4,01006,Ambléon,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34965,97613,M'Tsangamouji,0,0,0,1,99,1,0,3,...,1,0,0,0,0,3,0,0,1,0
34966,97614,Ouangani,0,0,0,2,125,2,0,2,...,1,0,1,0,0,5,0,0,1,0
34967,97615,Pamandzi,2,0,1,2,152,4,1,3,...,1,0,1,1,2,7,0,3,1,0
34968,97616,Sada,1,0,1,1,107,3,0,4,...,1,0,1,0,2,8,0,2,2,0
34969,97617,Tsingoni,2,0,1,1,122,11,0,4,...,2,0,0,0,0,13,0,2,1,0

# Renommer les colonnees de chaque Dataframe

In [35]:
new_dem_col = ['code','commune','pop','1_child-25','Indice_vieillissement','density_pop', \
               'evol_pop','pop-15y','pop-25y','pop-64y','pop+65y','fmly_no_child-25', \
               'fmly_2_child-25','fmly_3_child-25','mean_familiy_size']

new_edu_col =  ['code','commune','ratio_no_diploma','ratio_CAP_BEP','ratio_bac','ratio_etude_sup']

new_immo_col =  ['code','commune', 'res_princ_46', 'res_princ', 'res_second', 'log_vacants', 'appt',\
                 'maison','propr', 'locataire', 'hlm']

new_entreprise_col = ['code','commune','nb_crea_ent','nb_ent', "part_0_sal", "part-10sal", "part+10sal", \
                     "part_agri", "part_indus", "part_const", "part_commerce", "part_admin"]

new_travail_col = ['code','commune','part_salarié', 'part_non_salarié', 'part_agri', 'part_arti', \
                   'part_cadre', 'part_employe', 'part_prof_inter', 'part_ouvrier', 'ta1', 'ta2', \
                   'ta3', 'ta_femme', 'ta_homme']

new_equi_col = ['code','commune', 'hypermarché', 'pôle emploi','banques', 'poste', 'epicerie', \
                'boulangerie', 'boucherie', 'maternelle', 'élémentaire', 'collège', 'urgences', \
                'lycee', 'dentiste', 'medecin','infirmier', 'creche', 'kine', 'pharmacie', 'epahd']

demographie.columns = new_dem_col
education.columns = new_edu_col
immobilier.columns = new_immo_col
entreprise.columns = new_entreprise_col
travail.columns = new_travail_col
equipement.columns = new_equi_col

# AJOUTER UNE NOUVELLE COLONNE A DEMOGRAPHIE

In [36]:
conditions = [
    (demographie['pop'] < 2000),
    (demographie['pop'] >= 2000) & (demographie['pop'] < 5000),
    (demographie['pop'] >= 5000) & (demographie['pop'] < 20_000),
    (demographie['pop'] >= 20_000) & (demographie['pop'] < 50_000),
    (demographie['pop'] >= 50_000) & (demographie['pop'] < 200_000),
    (demographie['pop'] >= 200_000)]
choices = ['Village', 'Bourg', 'Petit ville','Ville moyenne','Grande ville','Métropole']
demographie['type_agglo'] = np.select(conditions, choices, default='Ville')

# VERIFICATION DES VALEURS MANQUANTES

In [10]:
# On supprime les villes avec des valeurs manquantes : il apparaît que soit cette ville se situe à Mayotte
# Soit ces villes ont été détruites pendant la Seconde Guerre mondiale mais existent toujours dans la base de données INSEE
# Soit ces villes sont vraiment petites (moins < 10 habs) et ont beaucoup de valeurs manquantes
demographie = demographie[~demographie['1_child-25'].isna()]
education = education[~education["ratio_bac"].isna()]
immobilier = immobilier[~immobilier["res_princ_46"].isna()]
entreprise = entreprise[~entreprise["part_0_sal"].isna()]
travail = travail[~travail["ta2"].isna()]

In [11]:
mean_old_minus_50 = demographie['Indice_vieillissement'][demographie['pop']<50].mean()
demographie['Indice_vieillissement'].fillna(mean_old_minus_50, inplace=True)

<ipython-input-11-afa9f843047e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographie['Indice_vieillissement'].fillna(mean_old_minus_50, inplace=True)

In [12]:
# Spécifique à l'entreprise, nous mettons 0 valeurs par défaut à une valeur relative
#(qui sont Nan car l'INSEE essaie de diviser par 0)
# Idem pour le travail (beaucoup de NAN pour celui-ci)
entreprise = entreprise.fillna(0)
travail = travail.fillna(0)

In [45]:
def ratio_na(col):
    ratio = len(col[col.isna()])/len(col)
    return ratio

def print_na(df):
    for col in df:
        print(df[col].name, ' :\t ',ratio_na(df[col]),'  % valeurs manquantes')

MERGE

In [13]:
education = education.drop(columns=["commune"])
immobilier = immobilier.drop(columns=["commune"])
entreprise = entreprise.drop(columns=["commune"])
travail = travail.drop(columns=["commune"])
equipement = equipement.drop(columns=["commune"])

In [14]:
INSEE_datasets = demographie.merge(education, how='inner', left_on='code', right_on='code') \
                            .merge(immobilier, how='inner', left_on='code', right_on='code') \
                            .merge(entreprise, how='inner', left_on='code', right_on='code') \
                            .merge(travail, how='inner', left_on='code', right_on='code') \
                            .merge(equipement, how='inner', left_on='code', right_on='code')

In [46]:
print_na(INSEE_datasets)

code  :	  0.0   % valeurs manquantes
commune  :	  0.0   % valeurs manquantes
pop  :	  0.0   % valeurs manquantes
1_child-25  :	  0.0   % valeurs manquantes
Indice_vieillissement  :	  0.0   % valeurs manquantes
density_pop  :	  0.0   % valeurs manquantes
evol_pop  :	  0.0   % valeurs manquantes
pop-15y  :	  0.0   % valeurs manquantes
pop-25y  :	  0.0   % valeurs manquantes
pop-64y  :	  0.0   % valeurs manquantes
pop+65y  :	  0.0   % valeurs manquantes
fmly_no_child-25  :	  0.0   % valeurs manquantes
fmly_2_child-25  :	  0.0   % valeurs manquantes
fmly_3_child-25  :	  0.0   % valeurs manquantes
mean_familiy_size  :	  0.0   % valeurs manquantes
type_agglo  :	  0.0   % valeurs manquantes
ratio_no_diploma  :	  0.0   % valeurs manquantes
ratio_CAP_BEP  :	  0.0   % valeurs manquantes
ratio_bac  :	  0.0   % valeurs manquantes
ratio_etude_sup  :	  0.0   % valeurs manquantes
res_princ_46  :	  0.0   % valeurs manquantes
res_princ  :	  0.0   % valeurs manquantes
res_second  :	  0.0   % valeurs manquantes
log_vacants  :	  0.0   % valeurs manquantes
appt  :	  0.0   % valeurs manquantes
maison  :	  0.0   % valeurs manquantes
propr  :	  0.0   % valeurs manquantes
locataire  :	  0.0   % valeurs manquantes
hlm  :	  0.0   % valeurs manquantes
nb_crea_ent  :	  0.0   % valeurs manquantes
nb_ent  :	  0.0   % valeurs manquantes
part_0_sal  :	  0.0   % valeurs manquantes
part-10sal  :	  0.0   % valeurs manquantes
part+10sal  :	  0.0   % valeurs manquantes
part_agri_x  :	  0.0   % valeurs manquantes
part_indus  :	  0.0   % valeurs manquantes
part_const  :	  0.0   % valeurs manquantes
part_commerce  :	  0.0   % valeurs manquantes
part_admin  :	  0.0   % valeurs manquantes
part_salarié  :	  0.0   % valeurs manquantes
part_non_salarié  :	  0.0   % valeurs manquantes
part_agri_y  :	  0.0   % valeurs manquantes
part_arti  :	  0.0   % valeurs manquantes
part_cadre  :	  0.0   % valeurs manquantes
part_employe  :	  0.0   % valeurs manquantes
part_prof_inter  :	  0.0   % valeurs manquantes
part_ouvrier  :	  0.0   % valeurs manquantes
ta1  :	  0.0   % valeurs manquantes
ta2  :	  0.0   % valeurs manquantes
ta3  :	  0.0   % valeurs manquantes
ta_femme  :	  0.0   % valeurs manquantes
ta_homme  :	  0.0   % valeurs manquantes
hypermarché  :	  0.0   % valeurs manquantes
pôle emploi  :	  0.0   % valeurs manquantes
banques  :	  0.0   % valeurs manquantes
poste  :	  0.0   % valeurs manquantes
epicerie  :	  0.0   % valeurs manquantes
boulangerie  :	  0.0   % valeurs manquantes
boucherie  :	  0.0   % valeurs manquantes
maternelle  :	  0.0   % valeurs manquantes
élémentaire  :	  0.0   % valeurs manquantes
collège  :	  0.0   % valeurs manquantes
urgences  :	  0.0   % valeurs manquantes
lycee  :	  0.0   % valeurs manquantes
dentiste  :	  0.0   % valeurs manquantes
medecin  :	  0.0   % valeurs manquantes
infirmier  :	  0.0   % valeurs manquantes
creche  :	  0.0   % valeurs manquantes
kine  :	  0.0   % valeurs manquantes
pharmacie  :	  0.0   % valeurs manquantes
epahd  :	  0.0   % valeurs manquantes

In [47]:
# Conversion du type des colonnes
for col in INSEE_datasets.columns:
    if col != "code" and col != "commune" and col != "type_agglo":
        INSEE_datasets[col] = INSEE_datasets[col].astype(float)

In [51]:
INSEE_datasets.dtypes

code                      object
commune                   object
pop                      float64
1_child-25               float64
Indice_vieillissement    float64
                          ...
infirmier                float64
creche                   float64
kine                     float64
pharmacie                float64
epahd                    float64
Length: 71, dtype: object

In [52]:
INSEE_datasets.to_csv(path+'data_INSEE_clean.csv', index=False, sep=';')